{% extends "base.html" %}
{% block start %}
<body>
     <form action="" class="col-6 mx-auto card py-5 px-5 mt-5 shadow-sm" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <h3>Add recipes</h3>
          <hr>
     <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Recipe name</label>
          <input type="text" class="form-control" name="recipe_name" id="exampleFormControlInput1" required>
        </div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">Recipe Description</label>
          <textarea class="form-control" name="recipe_desc" id="exampleFormControlTextarea1" rows="3" required></textarea>
        </div>
        <div class="input-group mb-3">
          <label class="input-group-text" for="inputGroupFile01">Upload</label>
          <input type="file" class="form-control" name="recipe_image" id="inputGroupFile01">
        </div>
        <input type="submit" value="Add Recipe" name="submit" class="btn btn-danger">
     </form>
</body>
{% endblock %} 