{% extends "base.html" %}
{% block start %}


     <form action="{% url 'index' %}" class="col-6 mx-auto card py-5 px-5 mt-5 shadow-sm" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <h3>Add recipes</h3>
          <hr>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Recipe name</label>
            <input type="text" class="form-control" name="recipe_name" id="exampleFormControlInput1" value="{{ recipe_name }}">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Recipe description</label>
            <textarea class="form-control" name="recipe_desc" id="exampleFormControlTextarea1" rows="3">{{ recipe_desc }}</textarea>
          </div>
        <input type="submit" value="Add Recipe" name="submit" class="btn btn-danger">
     </form>
     <div class="col-6 mx-auto card py-3 px-3">
        <ul class="list-group">
            {% comment %} {% if submitbutton == 'submit' %} {% endcomment %}
            <li class="list-group-item">Recipe name: {{ recipe_name }}</li>
            <li class="list-group-item">Recipe description: {{ recipe_desc }}</li>
            {% comment %} {% endif %} {% endcomment %}
          </ul>

     </div>   
<div class="col-6 mx-auto card py-3 px-3">
    <img src="/static/img/demo.jpg" alt="This is a burger" class="image">
</div>
<div class="col-6 mx-auto card py-3 px-3">
    <video controls>
        <source src="/static/videos/recipe.mp4" type="video/mp4">
      </video>
</div>

{% endblock %}
